@if (Request.IsAuthenticated)
{
    using (Html.BeginRouteForm("", new { area = "Auths", controller = "Account" ,action="LogOff"}, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="javascript:void(0)">@("你好，" + User.Identity.Name)</a>
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">注销</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("注册", "Register", new { area = "Auths", controller = "Account" }, new { id = "registerLink" })</li>
        <li>@Html.ActionLink("登录", "Login", new { area = "Auths", controller = "Account" }, new { id = "loginLink" })</li>
    </ul>
}
