<li>@Html.ActionLink("Root", "Index", "Home")</li>
<li>@Html.ActionLink("Auths", "Index", new { area = "Auths", controller = "Home" })</li>
<li>@Html.ActionLink("WeChats", "Index", new { area = "WeChats", controller = "OAuth" })</li>